{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, поскольку запросили сброс пароля вашего аккаунта на {{ site_name }}.{% endblocktranslate %}

{% translate "Пожалуйста, перейдите на следующую страницу и выберите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Ваше имя пользователя, если вы его забыли:' %} {{ user.get_username }}

{% translate "Спасибо, что пользуетесь нашим сайтом!" %}

{% blocktranslate %}Команда {{ site_name }}{% endblocktranslate %}

{% endautoescape %}