{% extends "base.html" %}

{% block title %}Главная{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
Привет, {{ user.username }}! Твой возраст: {{ user.age }}. [<a class="px-2 link-dark" href="{% url 'logout' %}">выйти</a>]


{% else %}
<p>Вы не вошли</p>
<a href="{% url 'login' %}">Войти</a> |
<a href="{% url 'signup' %}">Зарегистрироваться</a>
{% endif %}

<hr>
<p>[ <a href="{% url 'article_list' %}" class="px-2 link-dark"><strong>Статьи</strong></a> |
    <a href="https://github.com/Rykov7/news" class="px-2 link-dark">Репозиторий данной версии</a> |
    <a href="https://github.com/wsvincent/djangoforbeginners/tree/master/ch16-deployment" class="px-2 link-dark">Репозиторий оригинала</a>]
</p>


<h1>Django for Beginners 4.0 — Газета</h1>

<p>
Это финальный учебный проект <em>news</em> по книге <strong>William S. Vincent "Django for Beginners 4.0" (2022)</strong> с
небольшими изменениями.</p>

    <h2>Описание проекта</h2>

<p>
    CRUD с регистрацией пользователей и правами. Можно добавлять, редактировать,
    удалять собственные статьи, просматривать чужие. Доступен сброс пароля через почту, изменение текущего пароля.

<p>
Ссылки «Редактировать» и «Удалить» присутствуют
    на чужих статьях только в качестве демонстрации запрета на действия другими пользователями.
</p>

<h2>Отличия от оригинала</h2>
<p>
<ul>
    <li>Локализовано на русский</li>
    <li>Исправлена ошибка: пользователи могли оставлять комментарии от имени любого автора</li>
    <li>Добавлено данное описание</li>
    <li>На странице со статьями добавлены ссылки статей</li>
</ul>
</p>




{% endblock content %}

