{% extends "base.html" %}

{% block title %}Главная{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
Привет, {{ user.username }}! Твой возраст: {{ user.age }}.
<p><a href="{% url 'logout' %}">Выйти</a></p>
{% else %}
<p>Вы не вошли</p>
<a href="{% url 'login' %}">Войти</a> |
<a href="{% url 'signup' %}">Зарегистрироваться</a>
{% endif %}

<hr>
<h1>Описание проекта</h1>
<p>
Это финальный учебный проект "news" из книги  William S. Vincent "Django for Beginners 4.0" (2022) с
небольшими изменениями:</p>
<ul>
    <li>Локализовано на русский</li>
    <li>Исправлена ошибка: пользователи могли оставлять комментарии от имени любого автора</li>
    <li>Добавлено данное описание</li>
    <li>Добавлена ссылка «Статьи» внизу на этой странице</li>
    <li>На странице со статьями, у каждой статьи добавлена ссылка для комментирования</li>
</ul>
<p>
Несмотря на указанные доработки, проект остался сырым: например, ссылки «Редактировать» и «Удалить» присутствуют
    на чужих статьях и служат только в качестве демонстрации запрета на действия другими пользователями,
    а форма редактирования профиля, присутствующая в проекте, вообще не используется.
</p>
<p><a href="{% url 'article_list' %}">Статьи</a> |
    <a href="https://github.com/Rykov7/news">Исходный код данной версии на GitHub</a>
</p>
{% endblock content %}

